
.map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

	background-color: gray;
	height: 100%;
	width: 75%;
	float: left;
}

.ol-rotate {
	margin-top: 2.1em;
}

.ol-zoom {
	margin-top: 3em;
}

.map:-moz-full-screen {
	width: 100%;
	height: 100%;
}

.map:-webkit-full-screen {
	width: 100%;
	height: 100%;
}

.map:-ms-fullscreen {
	width: 100%;
	height: 100%;
}

.map:full-screen {
	width: 100%;
	height: 100%;
}

