div.menu {
	margin: 0;
	padding: 0.7em;
	z-index: 10;
	background: #fff;
}

div.menu span {
	width: 8em;
	font-size: 120%;
	background: #040;
	color: #fff;
	padding: 0.3em;
	font-family: 'Fredoka One';
	text-align: center;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

div.menu a {
	text-decoration: none;
}

div.menu span.active {
	background: #6d6;
	color: #000;
}

